<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myApp.ClientDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClientDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <myApp.ClientDAL.Properties.Settings>
            <setting name="ClientDAL_ProduktkategoriDAL_ProduktkategoriDAL"
                serializeAs="String">
                <value>http://localhost:3302/ServerDAL/ProduktkategoriDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_AnmeldelseDAL_AnmeldelseDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/AnmeldelseDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_ProduktDAL_ProduktDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/ProduktDAL.asmx</value>
            </setting>
            <setting name="MyApp_ClientDAL_WSNyhetDAL_NyhetDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/ServerNyhetDAL.asmx</value>
            </setting>
            <setting name="MyApp_ClientDAL_WSOrdreDAL_OrdreDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/OrdreDAL.asmx</value>
            </setting>
            <setting name="MyApp_ClientDAL_WSOrdrelinjeDAL_OrdrelinjeDAL"
                serializeAs="String">
                <value>http://localhost:3302/ServerDAL/OrdrelinjeDAL.asmx</value>
            </setting>
        </myApp.ClientDAL.Properties.Settings>
        <ClientDAL.Properties.Settings>
            <setting name="ClientDAL_OrdreDAL_OrdreDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/OrdreDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_OrdrelinjeDAL_OrdrelinjeDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/OrdrelinjeDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_ProduktkategoriDAL_ProduktkategoriDAL"
                serializeAs="String">
                <value>http://localhost:3302/ServerDAL/ProduktkategoriDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_AnmeldelseDAL_AnmeldelseDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/AnmeldelseDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_NyhetDAL_NyhetDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/NyhetDAL.asmx</value>
            </setting>
            <setting name="ClientDAL_ProduktDAL_ProduktDAL" serializeAs="String">
                <value>http://localhost:3302/ServerDAL/ProduktDAL.asmx</value>
            </setting>
        </ClientDAL.Properties.Settings>
    </applicationSettings>
</configuration>