body 
{
    background-color:Silver;
    color:#333333;
    font-family:Verdana,arial;
    font-size:small;
}
a:link 
{
	color:Maroon;
	font-weight:bolder;
	text-decoration:none;
}
a:visited 
{
	color:Maroon;
	text-decoration:none;
}
a:hover
{
	color:Red;
	text-decoration:underline;
}

.hovedinnhold
{
	position:absolute;
	top:150px;
	left:200px;
	width:700px;
}
.x-produktadmin
{
	padding-top:20px;
}
.x-prodcelle
{
	vertical-align:top;
	text-align:left;
	width:200px;
}
.x-admindiv
{
	padding:10px;
}


