body 
{
    background-color: #eeeeee;
    font-family: Verdana;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    width:750px;
	margin:20px;
	padding:20px;
    
}

div.container
{
	font-family: Verdana, Sans-Serif;
	background-color: #eeeeee;
	font-family: Verdana;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	top:50px;
	color: black;
	width:750px;
	margin:20px;
	padding:20px;
}

.x-innleggstabell
{
	background-color:White;
	font-family:Verdana;
	font-size:medium;
	
}

.x-gridview
{
	background-color:White;
}
	
.x-header
{
	background-color: #ccccff;
	position:absolute;
	height:50px;
	width:750px;	
	padding:20px;
	top:0px;
	border-color:Blue;
	border-style:solid;
    border-width:thin;
    
}

.x-header-logo
{
	position:absolute;
	font-style:italic;
	font-weight:bold;
	font-size:x-small;
	vertical-align:bottom;
	right:5%;    
}

.x-redigerkommentar
{
	position:absolute;
	position:inherit;
	height:100px;
	width:100px;
	right:1px;
	background-color: White;
    
}

.x-kommentar-tekstboks
{
	font-family:Verdana;
	background-color: #CCCCCC;
	color:#666699;
}

.x-innlegg-tekstboks
{
	font-family:Verdana;
	background-color: #CCCCCC;
	color:#666699;	
}