body 
{
    background-color:Black;
    color:Lime;
    font-family:Courier New, Courier;
}
a:link 
{
	color:Aqua;
	font-weight:bolder;
	text-decoration:none;
}
a:visited 
{
	color:Aqua;
	text-decoration:none;
}
a:hover
{
	color:Red;
	text-decoration:underline;
}
.x-grid-kat
{
	position:absolute;
	top:150px;
}
.hovedinnhold
{
	position:absolute;
	top:150px;
	left:200px;
	width:700px;
}
.x-produktadmin
{
	padding-top:20px;
}
.x-prodcelle
{
	vertical-align:top;
	text-align:left;
	width:200px;
}
.x-admindiv
{
	padding:10px;
}

.overskrift
{
    text-decoration:underline;
    font-size:large;
}