body 
{
    background-color:Silver;
    color:White;
}
a:link 
{
	color:Maroon;
	font-weight:bolder;
	text-decoration:none;
}
a:visited 
{
	color:Maroon;
	text-decoration:none;
}
a:hover
{
	color:Red;
	text-decoration:underline;
}

.hovedinnhold
{
	position:absolute;
	top:180px;
	left:200px;
}
.x-produktadmin
{
	padding-top:20px;
}
.x-prodcelle
{
	vertical-align:top;
	text-align:left;
	width:200px;
}
.x-admindiv
{
	padding:10px;
}


